 body{color:#3f312e; background-color: #ecd078; font: 14px helvetica, Arial, sans-serif;}   
         a{color: #4f4f4f;}
         #header{width:960px; min-height: 150px; margin: 0 auto;}
         #navigation{width: 960px; margin: 0 auto;}
         #navigation ul{margin: 0; padding:0; list-style-type: none;}
         #navigation ul li{display: inline; margin-right: 3px;}
         #navigation ul li a{background: #fbe49b; text-decoration: none; padding: 10px 10px 6px 10px; text-transform: uppercase; border-left: 1px solid #e4bc3f; border-top:1px solid #e4bc3f; border-right: 1px solid #e4bc3f; background-color: #fbe49b; }
         #navigation ul li.curent_page_item a,#navigation ul li a:hover {color: #3f312e; border-left: 1px solid #fff;border-top: 1px solid #fff; border-right: 1px solid #fff; background: #fff;}

         #container{overflow: auto; width: 960px; margin: 0 auto;}
         #content{width:960px; min-height: 500px; margin: 0 auto; background: #fff;}
         #contentleft{width:580px; float: left;  margin-right: 20px; padding: 20px;}
         #sidebar{width:280px; float: left; padding: 20px;}
         #sidebar h3{color:#fff; background: #53777a; padding: 7px 10px; text-transform: uppercase; font-size: 14px;}
         #footer{width:960px; margin: 0 auto; text-align: center;}
         #footer ul{margin: 15px 0 0 0; padding:0; list-style-type: none;}
         #footer ul li{display:inline; margin-right:5px;}
         #footer ul li a{text-transform: uppercase;text-decoration: none;}
         #footer ul li a:hover{text-decoration: underline;}
         #footer p{font-weight: bold;}

        
         #outerbox{
       width: 450px;
       overflow: hidden;
        
    }
    
    #innerbox{
        position: relative;
        width: 4500px;
        animation: slidy 50s infinite;
    }
    #innerbox img{
        float:left;
    }
    
  


@keyframes slidy{
    0%{
        left: 0px;
    }
    
    8%{
        left: 0px;
    }
    
    10%{
        left: -450px;
    }
    18%{
        left: -450px;
    }
    20%{
        left: -900px;
    }
    28%{
        left: -900px;
    }
    30%{
        left: -1350px;
    }
    38%{
        left: -1350px;
        }
    40%{
            left: -1800px;
        }   
    48%{
            left: -1800px;
        }
     50%{
            left: -2250px;
        }
     58%{
            left: -2250px;
        }
      60%{
            left: -2700px;
        }
      68%{
            left: -2700px;
        }
      70%{
            left: -3150px;
        }
      78%{
            left: -3150px;
        }
       80%{
            left: -3600px;
        }
        88%{
            left: -3600px;
        }
        90%{
            left: -4050px;
        }
        98%{
            left: -4050px;
        }
        100%{
            left: -4500px;
        }
              
}
